/* NavBar.css */

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #DFDFDF;
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  cursor: pointer;
  font-size: 24px;
  margin-right: 20px;
}

.menu-toggle i {
  color: #333;
}

.navList {
  list-style: none;
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-left: auto;
}

.navList li {
  margin-left: 40px; 
  font-size: 20px;
  position: relative;
}

.navList a {
  text-decoration: none;
  color: #333;
}

.navList li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.navList li:hover::after {
  width: 100%;
}

/* Added styles for overlay and form */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
}

.cart-popup {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.check_btn {
  margin: 10px 60px 10px 100px;
}

/* Checkout Form */
.cart-overlay form {
  width: 500px; 
  margin: 20px;
  margin-left: 100px;
}

.cart-overlay form label {
  display: block;
  margin-bottom: 8px;
  font-size: small;
}

.cart-overlay form input {
  width: 80%;
  padding: 5px;
  margin-bottom: 15px;
}

.cart-overlay form button {
  padding: 10px;
  border: none;
  margin-left: 100px;
}
.menu-toggle{
  display: none;
}
.gender-radio {
  margin-left: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.gender-radio label {
  margin-right: 15px; /* Adjust the spacing between radio button and label */
}
/* Responsive styles - hide menu by default and show when open */
@media screen and (max-width: 768px) {
  .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
  }
  .cart-popup {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  .check_btn {
    margin: 5px 50px 5px 10px;
  }
  .container{
    width: 100%;
    margin: 0;
  }
  .menu-toggle {
    display: block;
    width: 100%;
  }
  header {
    background-color: #DFDFDF;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    margin-top: 0 ;
    left: 0;
    width: 100%;
    background-color: #DFDFDF;
    z-index: 1000;
  }

  .navList.menu-open {
    display: flex;
  }

  .navList li {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .cart-overlay form input {
    width: 80%;
    padding: 5px;
    margin-bottom: 15px;
  }
  .cart-overlay form button {
    padding: 0;
    border: none;
    margin-left: 0;
  }
  .cart-overlay form label {
    display: block;
    margin-bottom: 8px;
    font-size: small;
  }
  .cart-overlay form {
    width: 200px; 
    margin: 0;
  }
  .navList a {
    color: #333;
  }

  header.menu-open {
    height: auto;
  }

  header{
    width: 100%;
  }
}
@media only screen and (max-width: 425px){
  .container{
    width: 100%;
    margin: 0;
  }
  .menu-toggle {
    display: block;
    width: 100%;
  }
  header {
    background-color: #DFDFDF;
    height: 10vh;
    position: fixed;
    width:100%;
    z-index: 1;
    top: 0;
  }
  .navList {
    display: none;
    flex-direction: column;
    position:fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #DFDFDF;
    z-index: 1;
  }

  .navList.menu-open {
    display: flex;
  }

  .navList li {
    margin: 0;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .cart-overlay form input {
    width: 80%;
    padding: 5px;
    margin-bottom: 15px;
  }
  .cart-overlay form button {
    padding: 20px;
    border: none;
    margin-left: 0;
  }
  .cart-overlay form label {
    display: block;
    margin-bottom: 8px;
    font-size: smaller;
  }
  .cart-overlay form {
    width: 150px; 
    margin: 0;
  }
  .navList a {
    color: #333;
  }

  header.menu-open {
    height: auto;
  }

  header{
    width: 100%;
  }
}
@media only screen and (max-width: 320px){
  header{
    width:100%;
  }
  .container{
    width: 100%;
    margin: 0;
  }
  .navList {
    display: none;
    flex-direction: column;
    position:fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #DFDFDF;
    z-index: 1;
  }
}