.container {
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  header {
    background-color: #DFDFDF;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  
  .d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-left: auto;
  }
  
  .navList li {
    margin-left: 40px; 
    font-size: 20px;
  }
  
  .navList a {
    text-decoration: none;
    color: #333;
  }
  /* NavBar.css */

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it overlays other content */
}

.cart-popup {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add any additional styles as needed */
