/* Default styles */
#contact {
  height: 100vh;
}

.contact p {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

.contact-container {

  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DFDFDF;
  margin: 10px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 500px;
}

label {
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 20px;
}

input,
textarea {
  padding: 8px;
  margin-top: 5px;
  margin-left: 0;
  width: 100%;
}

.frm-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  background: #e8e8e8;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-left: 100px;
  overflow: hidden;
  position: relative;

  font-size: 17px;
  transition: all 250ms;
}

.frm-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.frm-btn:hover {
  color: #e8e8e8;
}

.frm-btn:hover::before {
  width: 100%;
}


/* Media query for screens with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {
  #contact {
      height: auto; /* Adjust height for smaller screens */
  }

  .contact p {
      font-size: 24px; /* Adjust font size for smaller screens */
  }

  .contact-container {
      height: auto; /* Adjust height for smaller screens */
      margin-top: 20px;
  }

  .form-row,
  label,
  input,
  textarea {
      margin-left: 10px; /* Adjust margin and padding for smaller screens */
      width: 90%; /* Adjust width for smaller screens */
  }
  label{
    font-size: small;
  }
  .frm-btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    background: #e8e8e8;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-size: 17px;
  }
  form{
    margin-top: 20px;
  }
}

