@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: white;
  font-family: "Poppins",sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: 95%;
  margin: auto;
}
.row,
.left,
.right{
  width: 50%;
}
.top{
  margin-top:80px;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}